[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aenum = "*"
aiohttp = "*"
appdirs = "*"
astroid = "*"
async-timeout = "*"
attrs = "*"
autopep8 = "*"
beautifulsoup4 = "*"
black = "*"
bs4 = "*"
certifi = "*"
cffi = "*"
cfgv = "*"
chardet = "*"
click = "==7.1.2"
colorama = "*"
commonmark = "*"
cryptography = "*"
"discord.py" = "*"
distlib = "*"
dnspython = "*"
fake-useragent = "*"
fbchat = "*"
filelock = "*"
future = "*"
html2text = "*"
identify = "*"
idna = "*"
inflect = "*"
isort = "*"
"jaraco.itertools" = "*"
jedi = "*"
jeepney = "*"
joblib = "*"
keyring = "*"
"keyrings.alt" = "*"
lazy-object-proxy = "*"
lxml = "*"
mccabe = "*"
more-itertools = "*"
multidict = "*"
mypy-extensions = "*"
nightcore = "*"
nodeenv = "*"
numpy = "*"
paho-mqtt = "*"
parso = "*"
pathspec = "*"
pluggy = "*"
pre-commit = "*"
profanity-check = "*"
progressbar2 = "*"
pycodestyle = "*"
pycparser = "*"
pydub = "*"
# pyicloud = "*"
pylint = "*"
pymongo = "*"
pyparsing = "*"
python-utils = "*"
pytz = "*"
regex = "*"
requests = "*"
requests-futures = "*"
rich = "*"
scikit-learn = "*"
scipy = "*"
selenium = "*"
six = "*"
soupsieve = "*"
stem = "*"
threadpoolctl = "*"
toml = "*"
torrequest = "*"
tox = "*"
translate = "*"
typed-ast = "*"
typing-extensions = "*"
tzlocal = "*"
urllib3 = "*"
vcrpy = "*"
virtualenv = "*"
websockets = "*"
wikipedia = "*"
wolframalpha = "*"
wrapt = "*"
xmltodict = "*"
yarl = "*"
"zope.interface" = "*"
DateTime = "*"
Deprecated = "*"
gTTS = "2.2.1"
gTTS-token = "*"
Pillow = "*"
PyGithub = "*"
Pygments = "*"
PyJWT = "*"
PyMySQL = "*"
PyNaCl = "*"
PySocks = "*"
PyYAML = "*"
SecretStorage = "*"
Unidecode = "*"
youtube_dl = "*"
python-dotenv = "*"

[dev-packages]
black = "*"
pylint = "*"
jedi = "*"

[requires]
python_version = "3.8.3"
