[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
"discord.py[voice]" = "*"
fbchat = "*"
# fbchat = {git = "git://github.com/carpedm20/fbchat.git"}
nightcore = "*"
profanity-check = "*"
progressbar2 = "*"
# pyicloud = "*"
pymongo = "*"
requests = "*"
rich = "*"
translate = "*"
wikipedia = "*"
wolframalpha = "*"
gTTS = "2.2.1"
Pillow = "*"
PyGithub = "*"
PyYAML = "*"
youtube_dl = "*"
python-dotenv = "*"
dpy-http-server = "*"
pexpect = "*"
dnspython = "*"
requests-futures = "*"
unidecode = '*'
future = '*'

[dev-packages]
black = "*"
pylint = "*"
jedi = "*"

[requires]
# python_version = "3.8.3"
python_version = "3.8.12"
