aenum==2.2.4
aiohttp==3.7.4
appdirs==1.4.4
astroid==2.4.2
async-timeout==3.0.1
attrs==19.3.0
autopep8==1.5.4
beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2020.11.8
cffi==1.14.3
cfgv==3.2.0
chardet==3.0.4
click==7.1.2
colorama==0.4.4
DateTime==4.3
Deprecated==1.2.10
discord.py==1.5.1
distlib==0.3.1
dnspython @ git+git://github.com/rthalley/dnspython.git@26642eb9e77e4c44ee6852016ec14d7d748db8fc
fake-useragent==0.1.11
fbchat==1.9.7
filelock==3.0.12
future==0.18.2
gTTS==2.2.1
gTTS-token==1.1.4
html2text==2020.1.16
identify==1.5.9
idna==2.10
inflect==4.1.0
isort==5.6.4
jaraco.itertools==5.0.0
jedi==0.17.2
joblib==0.17.0
keyring==9.3.1
keyrings.alt==3.4.0
lazy-object-proxy==1.5.1
lxml==4.6.1
mccabe==0.6.1
more-itertools==8.6.0
multidict==4.7.6
nightcore==1.1.0
nodeenv==1.5.0
numpy==1.19.4
packaging==20.4
paho-mqtt==1.5.1
parso==0.7.1
Pillow==7.2.0
pluggy==0.13.1
pre-commit==2.8.2
profanity-check==1.0.3
progressbar2==3.53.1
py==1.9.0
pycodestyle==2.6.0
pycparser==2.20
pydub==0.24.1
PyGithub==1.53
pyicloud==0.9.7
PyJWT==1.7.1
pylint==2.6.0
pymongo==3.11.1
PyMySQL==0.10.1
PyNaCl==1.4.0
pyparsing==2.4.7
PySocks==1.7.1
python-utils==2.4.0
pytz==2020.4
PyYAML==5.3.1
requests==2.25.0
requests-futures==1.0.0
scikit-learn==0.23.2
scipy==1.5.4
selenium==2.53.6
six==1.15.0
soupsieve==2.0.1
stem==1.8.0
threadpoolctl==2.1.0
toml==0.10.2
torrequest==0.1.0
tox==3.20.1
translate==3.5.0
typing-extensions==3.7.4.3
tzlocal==2.1
Unidecode==1.1.1
urllib3==1.26.2
vcrpy==4.1.1
virtualenv==20.1.0
websockets==8.1
wikipedia==1.4.0
wolframalpha==4.1.0
wrapt==1.12.1
xmltodict==0.12.0
yarl==1.6.3
youtube-dl==2020.11.19
zope.interface==5.2.0
