aenum==2.2.6
aiohttp==3.7.3
appdirs==1.4.4
astroid==2.4.2
async-timeout==3.0.1
attrs==20.3.0
autopep8==1.5.5
beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2020.12.5
cffi==1.14.4
cfgv==3.2.0
chardet==3.0.4
click==7.1.1
colorama==0.4.4
cryptography==3.4.4
DateTime==4.3
Deprecated==1.2.11
discord.py==1.6.0
distlib==0.3.1
dnspython @ git+git://github.com/rthalley/dnspython.git@26642eb9e77e4c44ee6852016ec14d7d748db8fc
fake-useragent==0.1.11
fbchat==1.9.7
filelock==3.0.12
future==0.18.2
gTTS==2.2.2
gTTS-token==1.1.4
html2text==2020.1.16
identify==1.5.13
idna==2.10
inflect==5.0.2
isort==5.7.0
jaraco.itertools==5.0.0
jedi==0.18.0
jeepney==0.6.0
joblib==1.0.1
keyring==9.3.1
keyrings.alt==3.2.0
lazy-object-proxy==1.4.3
lxml==4.6.2
mccabe==0.6.1
more-itertools==8.7.0
multidict==5.1.0
nightcore==1.1.0
nodeenv==1.5.0
numpy==1.20.1
packaging==20.9
paho-mqtt==1.5.1
parso==0.8.1
Pillow==8.1.1
pluggy==0.13.1
pre-commit==2.10.1
profanity-check==1.0.3
progressbar2==3.53.1
py==1.10.0
pycodestyle==2.6.0
pycparser==2.20
pydub==0.23.1
PyGithub==1.54.1
pyicloud==0.10.2
PyJWT==1.7.1
pylint==2.6.0
pymongo==3.11.3
PyMySQL==1.0.2
PyNaCl==1.4.0
pyparsing==2.4.7
PySocks==1.7.1
python-utils==2.5.6
pytz==2021.1
PyYAML==5.4.1
requests==2.25.1
requests-futures==1.0.0
scikit-learn==0.24.1
scipy==1.6.0
SecretStorage==3.3.1
selenium==3.141.0
six==1.15.0
soupsieve==2.2
stem==1.8.0
threadpoolctl==2.1.0
toml==0.10.2
torrequest==0.1.0
tox==3.21.4
translate==3.5.0
typing-extensions==3.7.4.3
tzlocal==2.0.0
Unidecode==1.2.0
urllib3==1.26.3
vcrpy==4.1.1
virtualenv==20.4.2
websockets==8.1
wikipedia==1.4.0
wolframalpha==4.1.1
wrapt==1.12.1
xmltodict==0.12.0
yarl==1.6.3
youtube-dl==2021.2.10
zope.interface==5.2.0
